@{
    ViewData["Title"] = "Web.Monitor";
}

<h3>Message Count: <span class="message_counter"></span></h3>
<canvas id="message_chart"></canvas>

<h3>Pod Count: <span class="pod_counter"></span></h3>
<canvas id="pod_chart"></canvas>


@section scripts
    {
    <script>

        $(".message_counter").html(0);
        $(".pod_counter").html(0);

        var message_ctx = document.getElementById('message_chart').getContext('2d');
        var pod_ctx = document.getElementById('pod_chart').getContext('2d');

        var message_chart = new Chart(message_ctx, {
            type: 'line',
            data: {
                datasets: [{
                    data: [],
                    label: 'Message Count',
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    lineTension: 0,
                    borderDash: [8, 4]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime'
                    }]
                },
                plugins: {
                    streaming: {
                        onRefresh: function (chart) {
                            chart.data.datasets.forEach(function (dataset) {
                                $.get("/Home/MessageCount", function (data) {
                                    var messages = data;
                                    $(".message_counter").html(messages);
                                    dataset.data.push({
                                        x: Date.now(),
                                        y: messages
                                    });
                                });
                            });
                        }
                    }
                }
            }
        });

        var message_chart = new Chart(pod_ctx, {
            type: 'line',
            data: {
                datasets: [{
                    data: [],
                    label: 'Pod Count',
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)'
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime'
                    }]
                },
                plugins: {
                    streaming: {
                        onRefresh: function (chart) {
                            chart.data.datasets.forEach(function (dataset) {
                                $.get("/Home/PodCount", function (data) {
                                    var pods = data;
                                    $(".pod_counter").html(pods);
                                    dataset.data.push({
                                        x: Date.now(),
                                        y: pods
                                    });
                                });
                            });
                        }
                    }
                }
            }
        });
    </script>
}